@font-face {
  font-family: 'BrandonMed';
  src: url("../fonts/BrandonGrotesque-Medium.eot");
  src: url("../fonts/BrandonGrotesque-Medium.woff") format("woff"), url("../fonts/Brandon_med.ttf") format("truetype"); }

@font-face {
  font-family: 'Brandon_med_it';
  src: url("../fonts/BrandonGrotesque-MediumItalic.eot");
  src: url("../fonts/BrandonGrotesque-MediumItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'BrandonThinIT';
  src: url("../fonts/BrandonGrotesque-ThinItalic.eot");
  src: url("../fonts/BrandonGrotesque-ThinItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-ThinItalic.ttf") format("truetype"); }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #fff;
  backface-visibility: hidden; }

*, *:before, *:after {
  box-sizing: inherit; }

::-ms-clear,
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none !important; }

.hero {
  margin: auto;
  width: 50%;
  padding: 60px 10px 10px 10px; }
  @media (min-width: 320px) {
    .hero {
      padding: 100px 10px 10px 10px; } }
  .hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%; }
    @media (min-width: 320px) {
      .hero img {
        width: 30%; } }

.telephone {
  position: absolute;
  top: 12%;
  right: 20px;
  width: 15.5%;
  padding: 10px;
  border: 1px solid black;
  margin: 0; }
  @media (min-width: 320px) {
    .telephone {
      top: 16%;
      border: 0.5px solid black;
      width: 24.5%;
      height: 3.2%; } }
  @media (min-width: 768px) {
    .telephone {
      border: 1px solid black;
      width: 22.5%;
      height: 4.7%;
      top: 19%; } }
  @media (min-width: 992px) {
    .telephone {
      border: 0.8px solid black;
      width: 18.5%;
      height: 4.40%; } }
  @media (min-width: 1200px) {
    .telephone {
      border: 0.8px solid black;
      width: 18.5%;
      height: 5.40%; } }
  .telephone img {
    width: 15%;
    position: absolute;
    top: 0; }
    @media (min-width: 320px) {
      .telephone img {
        width: 20%;
        position: absolute;
        top: 1px;
        left: 4px; } }
    @media (min-width: 768px) {
      .telephone img {
        width: 22%;
        position: absolute;
        top: 1px;
        left: 10px; } }

.takayyal {
  margin-top: 30px; }
  .takayyal img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%; }
    @media (min-width: 320px) {
      .takayyal img {
        width: 45%; } }
    @media (min-width: 768px) {
      .takayyal img {
        width: 30%; } }

.main-page {
  border-left: 1px solid black;
  padding: 5% 10%;
  height: 100%; }
  @media (min-width: 320px) {
    .main-page {
      height: 50%; } }

@media (min-width: 320px) {
  .main {
    margin: auto; } }

@media (min-width: 768px) {
  .main {
    margin: 40px 10px; } }

.footer {
  margin-top: 50px;
  text-align: center;
  width: 105%; }
  .footer .IRE p {
    font-size: 12px;
    font-family: 'BrandonThinIT'; }
  .footer .footer-text p {
    margin-right: auto;
    margin-left: -15px;
    width: 110%;
    font-size: 11px; }

@media (min-width: 320px) {
  .footer {
    margin-top: 50px;
    text-align: center; }
    .footer .IRE p {
      font-size: 12px;
      font-family: 'BrandonThinIT'; }
    .footer .footer-text p {
      margin-right: auto;
      margin-left: -15px;
      width: 110%;
      font-size: 11px; } }

@media (min-width: 768px) {
  .footer {
    margin-top: 80px;
    text-align: center; }
    .footer .IRE p {
      font-size: 17px;
      font-family: 'BrandonThinIT'; }
    .footer .footer-text p {
      width: 100%;
      font-size: 16px; } }

p {
  line-height: 1.5;
  letter-spacing: 0.9px;
  font-size: 14px;
  font-family: 'BrandonMed'; }
  @media (min-width: 768px) {
    p {
      font-size: 20px;
      font-weight: 500; } }

em {
  font-family: 'Brandon_med_it'; }
