@font-face {
  font-family: 'BrandonMed';
  src: url("../fonts/BrandonGrotesque-Medium.eot");
  src: url("../fonts/BrandonGrotesque-Medium.woff") format("woff"), url("../fonts/Brandon_med.ttf") format("truetype"); }

@font-face {
  font-family: 'Brandon_med_it';
  src: url("../fonts/BrandonGrotesque-MediumItalic.eot");
  src: url("../fonts/BrandonGrotesque-MediumItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'BrandonThinIT';
  src: url("../fonts/BrandonGrotesque-ThinItalic.eot");
  src: url("../fonts/BrandonGrotesque-ThinItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-ThinItalic.ttf") format("truetype"); }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #fff;
  backface-visibility: hidden;
  overflow: hidden; }

*, *:before, *:after {
  box-sizing: inherit; }

::-ms-clear,
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none !important; }

.hero {
  margin: auto;
  width: 50%;
  padding: 60px 10px 10px 10px; }
  @media (min-width: 320px) {
    .hero {
      padding: 50px 10px 10px 10px; } }
  @media (min-width: 768px) {
    .hero {
      padding: 20px 10px 10px 10px; } }
  @media (min-width: 992px) {
    .hero {
      padding: 5px 10px 10px 10px; } }
  .hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%; }
    @media (min-width: 320px) {
      .hero img {
        width: 40%; } }
    @media (min-width: 768px) {
      .hero img {
        width: 30%; } }
    @media (min-width: 1200px) {
      .hero img {
        width: 10%; } }

.takayyal {
  margin-top: 10px; }
  @media (min-width: 768px) {
    .takayyal {
      margin-top: 30px; } }
  @media (min-width: 1200px) {
    .takayyal {
      margin-top: 10px; } }
  .takayyal img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%; }
    @media (min-width: 320px) {
      .takayyal img {
        width: 75%; } }
    @media (min-width: 768px) {
      .takayyal img {
        width: 45%; } }
    @media (min-width: 1200px) {
      .takayyal img {
        width: 15%; } }

.main {
  height: 100vh;
  background: url("../../../images/squares.png") no-repeat;
  background-size: 6%;
  background-position: right;
  display: inline-block;
  background-position-y: 45%;
  background-position-x: 98%; }
  @media (min-width: 768px) {
    .main {
      background-size: 4%; } }
  @media (min-width: 1200px) {
    .main {
      background-size: 2%;
      background-position-y: 45%;
      background-position-x: 99.5%; } }

.main-page {
  border-left: 1px solid black;
  padding: 5% 10%;
  height: 100%; }
  @media (min-width: 320px) {
    .main-page {
      height: 70%; } }
  @media (min-width: 1200px) {
    .main-page {
      padding: 2% 10% 2% 10%;
      height: 60%; } }

@media (min-width: 320px) {
  .main {
    margin: auto; } }

@media (min-width: 768px) {
  .main {
    margin: 40px 10px; } }

@media (min-width: 992px) {
  .main {
    margin: 20px 10px; } }

.footer {
  margin-top: 50px;
  text-align: center;
  width: 100%; }
  .footer .IRE p {
    font-size: 12px;
    font-family: 'BrandonThinIT'; }
  .footer .footer-text p {
    margin-right: auto;
    margin-left: -15px;
    width: 110%;
    font-size: 11px; }

@media (min-width: 320px) {
  .footer {
    margin-top: 50px;
    text-align: center; }
    .footer .IRE p {
      font-size: 12px;
      font-family: 'BrandonThinIT'; }
    .footer .footer-text p {
      margin-right: auto;
      margin-left: -15px;
      width: 110%;
      font-size: 11px; } }

@media (min-width: 768px) {
  .footer {
    margin-top: 70px;
    text-align: center; }
    .footer .IRE p {
      font-size: 17px;
      font-family: 'BrandonThinIT'; }
    .footer .footer-text {
      text-align: center; }
      .footer .footer-text p {
        letter-spacing: normal;
        padding: 0 40px;
        font-size: 16px; } }

@media (min-width: 992px) {
  .footer {
    margin-top: 70px;
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto; }
    .footer .IRE p {
      font-size: 24px;
      font-family: 'BrandonThinIT'; }
    .footer .footer-text {
      text-align: center; }
      .footer .footer-text p {
        letter-spacing: normal;
        padding: 0 30px;
        font-size: 22px; } }

@media (min-width: 992px) {
  .footer {
    margin-top: 70px;
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto; }
    .footer .IRE p {
      font-size: 24px;
      font-family: 'BrandonThinIT'; }
    .footer .footer-text {
      margin-right: auto;
      margin-left: auto;
      width: 43%;
      text-align: center; }
      .footer .footer-text p {
        letter-spacing: normal;
        padding: 0 20px;
        font-size: 22px; } }

.telephone {
  width: 100%; }
  @media (min-width: 768px) {
    .telephone {
      width: 90%; } }
  .telephone input {
    width: 100%;
    background: url("../../../images/telephone.png") no-repeat;
    background-size: 18%;
    background-position: left;
    background-position-x: 5px;
    background-position-y: 50%;
    font-size: 11px;
    padding: 5px;
    border: 1px solid black;
    text-align: right;
    font-family: 'Brandon_med_it'; }
    @media (min-width: 768px) {
      .telephone input {
        text-align: center;
        font-size: 16px;
        padding: 10px 5px; } }
    @media (min-width: 992px) {
      .telephone input {
        text-align: center;
        font-size: 22px;
        padding: 13px 5px; } }
    @media (min-width: 1200px) {
      .telephone input {
        width: 80%;
        text-align: center;
        font-size: 22px;
        padding: 15px 5px;
        background-size: 13%;
        background-position-x: 15px;
        background-position-y: 10%; } }
  .telephone input:invalid + span:after {
    color: red; }

p {
  line-height: 1.5;
  letter-spacing: 0.9px;
  font-size: 14px;
  font-family: 'BrandonMed'; }
  @media (min-width: 768px) {
    p {
      font-size: 20px;
      font-weight: 500; } }

em {
  font-family: 'Brandon_med_it'; }
