.hero {
  margin: auto;
 width: 50%;
 padding: 60px 10px 10px 10px;
   @include breakpoint (sm) {
      padding: 50px 10px 10px 10px;
   }
   @include breakpoint (md) {
  padding: 20px 10px 10px 10px;
   }
   @include breakpoint (lg) {
      padding: 5px 10px 10px 10px;
   }
 img {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  @include breakpoint (sm) {
      width: 40%;
  }
  @include breakpoint (md) {
  width: 30%;
  }
  @include breakpoint (lg) {

  }
  @include breakpoint (xlg) {
  width: 10%;
  }
 }
}
