.main {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
       -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
           animation: fadein 2s;


  transition: border-width 1s ease-in-out;
  height: 100vh;
  background: url("../../../images/squares.png")no-repeat;

  background-size: 6%;
  background-position: right;
display: inline-block;
  background-position-y: 45%;
    background-position-x: 98%;
    @include breakpoint (md) {
      background-size: 4%;

    }
    @include breakpoint (xlg) {
      background-size: 2%;
      background-position-y: 45%;
        background-position-x: 99.5%;
    }
}
.main-page {

  border-left: 1px solid black;
padding: 5% 10%;
height: 100%;
@include breakpoint (sm) {
height: 70%;
}
@include breakpoint (xlg) {
padding: 1% 10% 2% 10%;
height: 70%;
}

}
@include breakpoint (sm) {
.main {
  margin: auto;
}
}

@include breakpoint (md) {
.main {
    margin: 40px 10px;
}

}

@include breakpoint (lg) {
.main {
    margin: 20px 10px;
}

}
@keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}
