.main-page {
  border-left: 1px solid black;
padding: 5% 10%;
height: 100%;
@include breakpoint (sm) {
height: 50%;
}
}
@include breakpoint (sm) {
.main {
  margin: auto;
}
}

@include breakpoint (md) {
.main {
    margin: 40px 10px;
}
}
